.brick > div {
  height: 50px;
  width: 50px;
  border: 3px solid black;
  text-align: center;
  line-height: 50px;
  background-color: #AAA;
  color: white;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  transition: transform 0.5s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
}
.brick, .brick div {
  user-select: none;
  cursor: pointer;
}
.brick {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.brick > .back {
  background-color: blue;
}
.brick > .back {
  -webkit-transform: perspective(50px) rotateY(180deg) translate3d(0px, 0px, 2px);
  -moz-transform: perspective(50px) rotateY(180deg) translate3d(0px, 0px, 2px);
  transform: perspective(50px) rotateY(180deg) translate3d(0px, 0px, 2px);
}
.brick.flipped > .front {
  -webkit-transform: perspective(50px) rotateY(-180deg) translate3d(0px, 0px, 2px);
  -moz-transform: perspective(50px) rotateY(-180deg) translate3d(0px, 0px, 2px);
  transform: perspective(50px) rotateY(-180deg) translate3d(0px, 0px, 2px);
}
.brick.flipped > .back {
  -webkit-transform: perspective(50px) rotateY(0deg) translate3d(0px, 0px, 1px);
  -moz-transform: perspective(50px) rotateY(0deg) translate3d(0px, 0px, 1px);
  transform: perspective(50px) rotateY(0deg) translate3d(0px, 0px, 1px);
}
.front {
  font-size: 2em;
}
.error {
  color: red;
}
.hidden {
  display: none;
}